
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.masthead__content {
  height: auto;
  padding: 60px 0;
}
.hc-masthead__search {
  max-width: 600px;
  margin: auto;
  line-height: 52px;
}
h1.heading__primary {
  color: #DD2131;
  background: -webkit-linear-gradient(180deg, rgb(55, 199, 26), rgb(51, 14, 184));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Fredoka One';
  font-size: 50px;
  line-height: 60px;
  margin: 0 0 20px;
}
.list-group-item {
  padding: 0 1.25rem!important;
}

.popover{
  max-width: 450px!important;
  padding: 0!important;
  font-size: 0.700rem!important;
}

.popover .table th, .table td {
  padding: 3px!important;
  vertical-align: top!important;
  border-top: 1px solid #dee2e6!important;
}
.popover-body {
  padding: 0!important;
  color: #212529;
}

// Bootstrap 4 breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

// number of cards per line for each breakpoint
$cards-per-line: (
    xs: 1,
    sm: 2,
    md: 3,
    lg: 4
);

.card-deck {
  display: grid;
 }

@each $name, $breakpoint in $grid-breakpoints {
	@media (min-width: $breakpoint) {
		.card-deck {
			grid-template-columns: repeat(map-get($cards-per-line, $name), 1fr);
		}
	}
}

span.heading__primary {
  color: #DD2131;
  background: -webkit-linear-gradient(120deg, green, #61dafb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Fredoka One';
  font-size: 32px;
}

.modal-header{
  padding: 0.5rem 1rem;  
}
.modal-title.h4{
  font-size: 18px;
}
.actions{
  margin-top: 20px;
  width: 100%;
}

.Select-menu-outer{
  border-bottom-right-radius:4px;
  border-bottom-left-radius:4px;
  background-color:#fff;
  border:1px solid #ccc;
  border-top-color:#e6e6e6;
  box-shadow:0 1px 0 rgba(0,0,0,.06);
  box-sizing:border-box;
  margin-top:-1px;
  max-height:200px;
  position:absolute;
  top:100%;
  width:100%;
  z-index:1;
  -webkit-overflow-scrolling:touch
}